<ion-view class="no-margin">
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      .fit { /* set relative picture size */
        max-width: 100%;
        max-height: 100%;
      }
      .center {
        display: block;
        margin: auto;
      }
    </style>
    <ion-nav-title>
        <h1 class="title">
                {{ klass.name || 'All' }}
        </h1>
    </ion-nav-title>
    <ion-nav-buttons side="primary">
        <a class="button button-clear button-positive" ui-sref="classList">
            <i class="icon ion-ios-arrow-left"></i>
            Classes
        </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <a class="button button-icon icon ion-plus" ng-click="modals.insert(klass)"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-list ng-if="!showImage">
            <div ng-repeat="week in weeks">
                <div class="item item-divider item-assertive">
                    {{ week.start | date : 'fullDate' }}
                </div>
                <div ng-repeat="day in week.days">
                    <div class="item item-divider">
                        {{ day.date | date : 'fullDate' }}
                    </div>
                    <ion-item ng-if="klass" class="item-checkbox" ng-repeat="assignment in day.assignments">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="assignment.completed"/>
                        </label>
                        {{ assignment.name }}
                        
                        <ion-option-button class="button-positive" ng-click="modals.edit(assignment)">
                            Edit
                        </ion-option-button>
                        
                        <ion-option-button class="button-assertive" ng-click="delete(assignment)">
                            Delete
                        </ion-option-button>
                    </ion-item>
                    <ion-item ng-if="!klass" class="item-checkbox" ng-repeat="assignment in day.assignments" hwo:style-for="assignment.classId">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="assignment.completed"/>
                        </label>
                        {{ assignment.name }}
                        
                        <ion-option-button class="button-positive" ng-click="modals.edit(assignment)">
                            Edit
                        </ion-option-button>
                        
                        <ion-option-button class="button-assertive" ng-click="delete(assignment)">
                            Delete
                        </ion-option-button>
                    </ion-item>
                </div>
            </div>
            <a class="item item-icon-right" ui-sref="assignments.completed">
                Completed Assignments
                <i class="icon ion-chevron-right"></i>
            </a>
        </ion-list>
        <img class="center fit" ng-if= "classes.length === 0" ng-src="img/emptyclass.gif">
    </ion-content>
</ion-view>