<ion-view>
    <ion-nav-title>
        <a ui-sref="classList">
            <h1 class="title positive">
                {{ klass.name || 'All' }}
                <i class="icon ion-arrow-down-b"></i>
            </h1>
        </a>
    </ion-nav-title>
    <ion-nav-buttons side="primary">
        <a class="button button-clear button-positive" ui-sref="classList">Classes</a>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <a class="button button-icon icon ion-plus" ui-sref="insertAssignment({classId: klass.id})"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div ng-repeat="dateGroup in dateGroups">
                <div class="item item-divider">
                    {{ dateGroup.date | date : 'fullDate' }}
                </div>
                <div ng-if="klass" class="item item-checkbox" ng-repeat="assignment in dateGroup.assignments">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="assignment.completed"/>
                    </label>
                    {{ assignment.name }}
                </div>
                <div ng-if="!klass" class="item item-checkbox" ng-repeat="assignment in dateGroup.assignments" hwo:style-for="assignment">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="assignment.completed"/>
                    </label>
                    {{ assignment.name }}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>