<ion-view view-title="Classes">
    <ion-nav-buttons side="primary">
        <button class="button button-clear button-positive" ng-click="toggleEditing()">{{editing? 'Done':'Edit'}}</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <a class="button button-icon icon ion-plus" ng-click="modals.insert()"></a>
    </ion-nav-buttons>
    <ion-content>
        <img ng-if= "classes.length === 0" ng-src="img/emptyclass.gif"}></img>
        <ion-list   class="flex"
                    ng-if= "classes.length !== 0"
                    show-delete="editing"
                    show-reorder="editing">
            <ion-item   ng-repeat="klass in classes" 
                        hwo:style-for="klass.color"
                        ng-click="editing ? modals.edit(klass) : assignments(klass)"
                        class="flex-item flex-item-large item-icon-right"
                        style="pointer-events:auto;">
                <h2>{{klass.name}}</h2>
                <i class="icon ion-chevron-right center"></i>
                <p ng-repeat="assignment in klass.assignments">
                    {{assignment.name}}
                </p>
                
                
                <ion-delete-button  class="ion-minus-circled"
                                    ng-click="delete(klass)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon"
                                    on-reorder="move(klass, $fromIndex, $toIndex)">
                </ion-reorder-button>
            </ion-item>
            <div class="center">
                <ion-item ui-sref="assignments({ classId: '' })" class="flex-item">
                    <h2>All Assignments</h2>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>