<ion-view view-title="Classes">
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      .fit { /* set relative picture size */
        max-width: 100%;
        max-height: 100%;
      }
      .center {
        display: block;
        margin: auto;
      }
    </style>
    <ion-nav-buttons side="primary">
        <button class="button button-clear button-positive" ng-click="toggleEditing()">{{editing? 'Done':'Edit'}}</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <a class="button button-icon icon ion-plus" ng-click="modals.insert()"></a>
    </ion-nav-buttons>
    <ion-content>
        <img class="center fit" ng-if= "classes.length === 0" ng-src="img/emptyclass.gif">
        <ion-list   class="flex"
                    ng-if= "classes.length !== 0"
                    show-delete="editing"
                    show-reorder="editing">
            <ion-item   ng-repeat="klass in classes" 
                        hwo:style-for="klass.color"
                        ng-click="editing ? modals.edit(klass) : assignments(klass)"
                        class="item-large item-icon-right"
                        style="pointer-events: auto;">
                <h2 id="classTitle">{{klass.name}}</h2>
                <i class="icon ion-chevron-right center"></i>
                <p ng-repeat="assignment in klass.assignments">
                    {{assignment.name}}
                </p>
                <i class="icon ion-chevron-right dark"></i>
                
                <ion-delete-button  class="ion-minus-circled"
                                    ng-click="delete(klass)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon"
                                    on-reorder="move(klass, $fromIndex, $toIndex)">
                </ion-reorder-button>
            </ion-item>
            <ion-item ui-sref="assignments({ classId: '' })">
                <h2>All Assignments</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>