<ion-view title="Add Assignment">
    <ion-nav-buttons side="primary">
        <button class="button button-clear button-positive" ng-click="cancel()">Cancel</button>
    </ion-nav-buttons>
    <ion-content>
        <label class="item item-input">
            <input type="text" placeholder="Assignment Name" ng-model="assignment.name" />
        </label>
        <label class="item item-input">
            Due Date
            <input type="date" ng-model="assignment.dueDateTime" />
        </label>
        <label class="item item-input item-select">
            <div class="input-label">Class</div>
            <select ng-model="assignment.classId" ng-options="klass.id as klass.name for klass in classes">
            </select>
        </label>
        
        <button class="button button-positive" ng-click="submit(assignment)">Submit</button>
    </ion-content>
</ion-view>