<ion-view view-title="Add Class">
    <ion-nav-buttons side="primary">
        <button class="button button-clear button-positive" ng-click="cancel()">Cancel</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <form name="form">
            <label class="item item-input">
                <input type="text" hwo:class-name-is-unique placeholder="Class Name" ng-model="klass.name" />
            </label>
            <div class="item">
                <hwo-color-picker ng-model="klass.color"></hwo-color-picker>
            </div>
            <button class="button button-block button-positive" ng-click="submit(klass)">{{ form.$invalid ? 'Error' : 'Submit' }}</button>
        </form>
    </ion-content>
</ion-view>