<ion-modal-view>
    <ion-header-bar>
        <button class="button button-clear button-positive" ng-click="close()">Cancel</button>
        <h1 class="title">{{ isEditing() ? 'Edit Assignment' : 'Add Assignment' }}</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="insertAssignment">
            <label class="item item-input">
                <input type="text" placeholder="Assignment Name" ng-model="assignment.name" ng-required="true" />
            </label>
            <label class="item item-input">
                <span class="input-label positive">Due Date</span>
                <input type="date" ng-model="assignment.dueDateTime" ng-required="true" />
            </label>
            <label class="item item-input">
                <span class="input-label positive">Class</span>
                <select ng-model="assignment.classId" 
                        ng-options="klass.id as klass.name for klass in classes" 
                        ng-required="true"
                        id="assignmentClass">
                </select>
            </label>
        
            <button class="button button-block button-positive" 
                    ng-click="submit(assignment)"
                    ng-disabled="(!isEditing() && insertAssignment.$pristine) || insertAssignment.$invalid">
                {{ isEditing() ? 'Save Changes' : 'Create Assignment' }}
            </button>
        </form>
    </ion-content>
</ion-modal-view>