<ion-view view-title="Settings">
	<ion-nav-buttons side="primary">
		<button class="button button-clear button-positive" ng-click="back()">Back</button>
	</ion-nav-buttons>
    <hwo:swipe hwo:direction="right" hwo:sref="classList" />
	<ion-content>
        <ion-list>
            <div class="item item-divider">
                Classes
            </div>
            
            <ion-item ng-repeat="klass in classes" hwo:style-for="klass">
                {{klass.name}}
                
                <ion-option-button class="button-positive">
                    Edit
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="deleteClass(klass)">
                    Delete
                </ion-option-button>
            </ion-item>
            <a class="item item-icon-right" ui-sref="insertClass">
                Add Class
                <i class="icon ion-plus"></i>
            </a>

            <div class="item item-divider">
                Keep Old Assignments
            </div>
            <label class="item item-radio">
                <input type="radio"/>
                <div class="item-content">
                    Don't Keep
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio"/>
                <div class="item-content">
                    Keep for One Week
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio"/>
                <div class="item-content">
                    Keep for Semester
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            
            <div class="item item-divider">
                Push Notifications
            </div>
            <div class="item item-toggle">
				Allow
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="allowPushNotifications"/>
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
            
            <div class="item item-divider">
                Assignments View
            </div>
            <label class="item item-radio">
                <input type="radio" name="assignmentViewType" />
                <div class="item-content">
                    Sort By Class
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="assignmentViewType" />
                <div class="item-content">
                    Sort By Week
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </ion-list>
        <div class="list">
            
        </div>
	</ion-content>
</ion-view>
