@import "mixins";

.scroll {
	height: 100%;
}

.flex {
	.list {
		height: 100% !important;
		@include flex-container(column);
	}

	.flex-item {
		@include flex(0 1 50%);

		&.flex-item-large {
			max-height: 25%;
		}
	}

	.center {
		@include justify-content(center);
	}
}