@import "mixins",
		"color-picker";

.scroll {
    height: 100%;
}

.list {
    height: 100% !important;
    
    .item-large {
        height: 24%;
    }
}

.icon.ion-chevron-right.dark {
    color: #444 !important;
}

.item-content {
    height: 100%;
    @include inherit-colors;
    
    h2 {
        @include inherit-colors;
    }
}

input[type=date] {
	text-align: right;
}

.item-checkbox {
    padding-left: 0;
    white-space: normal;
    
    .item-content {
        padding-left: 54px;
        
        .checkbox {
            display: flex;
            align-items: center;
        }
    }
}