@import "mixins",
		"color-picker";

.scroll {
    height: 100%;
}

.list {
    height: 100% !important;
    
    .item-large {
        height: 24%;
    }
}

.icon.ion-chevron-right.dark {
    color: #444 !important;
}

.item-content {
    height: 100%;
    @include inherit-colors;
    
    h2 {
        @include inherit-colors;
    }
}

input[type=date] {
	text-align: right;
}

.item-checkbox {
    padding-left: 0;
    white-space: normal;
    
    .item-content {
        padding-left: 54px;
        
        .checkbox {
            display: flex;
            align-items: center;
        }
    }
}

.light-text p {
    color: #F9F9F9;
}

#classTitle {
    font-weight: bold;
}

img {
    .fit {
        max-width: 100%;
        max-height: 100%;
    }
    
    .center {
        display: block;
        margin: auto;
    }
}

.week-divider {
    font-weight: bold;
}