hwo-color-picker .col {
  margin: 2%;
  padding: 4%;
  opacity: 0.75; }
hwo-color-picker .col.active {
  opacity: 1;
  outline: thick solid black; }

.scroll {
  height: 100%; }

.list {
  height: 100% !important; }
  .list .item-large {
    height: 24%; }

.icon.ion-chevron-right.dark {
  color: #444 !important; }

.item-content {
  height: 100%;
  background-color: inherit !important;
  color: inherit !important; }
  .item-content h2 {
    background-color: inherit !important;
    color: inherit !important; }

input[type=date] {
  text-align: right; }

.item-checkbox {
  padding-left: 0;
  white-space: normal; }
  .item-checkbox .item-content {
    padding-left: 54px; }
    .item-checkbox .item-content .checkbox {
      display: flex;
      align-items: center; }

.light-text p {
  color: #F9F9F9; }

#classTitle {
  font-weight: bold; }

select {
  position: absolute;
  right: 0px; }
