.scroll {
  height: 100%; }

.flex .list {
  height: 100% !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important; }
.flex .flex-item {
  -webkit-flex: 0 1 50% !important;
  -ms-flex: 0 1 50% !important;
  flex: 0 1 50% !important; }
  .flex .flex-item.flex-item-large {
    max-height: 25%; }
.flex .center {
  -webkit-justify-content: center;
  justify-content: center; }

hwo-color-picker .col {
  margin: 2%;
  padding: 4%;
  opacity: 0.75; }
hwo-color-picker .col.active {
  opacity: 1;
  outline: thick solid black; }

.item-checkbox {
  white-space: normal; }

.item-content {
  background-color: inherit !important;
  color: inherit !important; }
  .item-content h2 {
    background-color: inherit !important;
    color: inherit !important; }

input[type=date] {
  text-align: right; }

.item-checkbox {
  padding-left: 0; }
  .item-checkbox .item-content {
    padding-left: 54px; }
    .item-checkbox .item-content .checkbox {
      display: flex;
      align-items: center; }
